h3, h4 {
  color: #B31E6F;
  text-align: center;
  margin-bottom: 50px;
  font-size: 24px;
}

h3 {
  border-bottom: 2px solid white;
}

.details-component {
  background-color: #B31E6F;
  padding-top: 80px;
}

.details-box {
  margin: 0px 400px 0 400px;
  padding: 40px;
  text-align:center;
  background-color: #22EACA;
  border: 2px solid white;
  border-radius: 10px;
}

.details-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  color: #B31E6F;

}

.details-component img {
  border-radius: 10%;
  margin: 0 0 100px 25px;
  padding: 5px;
  height: 300px;
  width: 300px;
  background-color: #FF9E74;
}

.like-button {

}
