.liked-component {
  padding: 30px;
  text-align: left;
  background-color: #22EACA;
  text-decoration: none;
}

.list-heading {
  padding-bottom: 20px;
}

.list-heading {
  color: white;
}

tr {
  color: #B31E6F;
}
