.list-heading {
  padding: 20px 0 60px 15px;
  color: white;

}

table {
  table-layout: fixed;
  /* width: 70%; */
  border-collapse: collapse;
  color: #B31E6F;
}

/* thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 50%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 10%;
} */

th, td {
  padding: 15px 15px;
  border-bottom: 2px solid white;
  text-align: center;
}

.container-fluid {
  magin: 0;
  padding: 20px 100px;
  width: 60%;
  /* text-align: left; */
  background-color: #22EACA;
  /* text-decoration: none; */
}

img {
  height: 80px;
  width: 80px;
}
