.list-heading {
  padding: 20px 0 50px 15px;
  color: white;

}

table {
  table-layout: fixed;
  width: 60%;
  border-collapse: collapse;
  color: #B31E6F;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

th, td {
  padding: 15px;
  border-bottom: 2px solid white;
  text-align: center;
}


.container {
  /* padding: 20px 100px; */
  width: 50%;
  /* text-align: left; */
  background-color: #22EACA;
  /* text-decoration: none; */
}

/* .list-heading {
  padding-bottom: 20px;
  color: white;
}

thead, tbody {
  margin: 20px;
} */

img {
  height: 80px;
  width: 80px;
}
