.more-info-div {
  overflow: hidden;
  position: relative;
}

.more-info-bg {
  opacity: 0.15;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.content {
  position: relative;
}

h3,h5 {
  text-align: center;
}

.ingredients, .measures, .glassware, .name, .instructions {
  color: #B31E6F;
  text-align: center;
  margin-bottom: 5%;
}

/* .odd {
  background-color: #22DFCA;
  opacity: 0.3;
} */

.measures {
  border-left: 1px solid white;
}

p {
  text-align: center;
}

.more-info-div {
  background-size: contain;
  /* opacity: .4; */
}
