h3,h5 {
  text-align: center;
}

.ingredients, .measures, .glassware, .name, .instructions {
  color: #B31E6F;
  text-align: center;
  margin-bottom: 5%;
}

.odd {
  background-color: #22DFCA;
}

.measures {
  border-left: 1px solid white;
}

p {
  text-align: center;
}
